In [ ]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
#location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.

In [12]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [13]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [14]:
driver.get("http://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience_required from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [22]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
#creating dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
1,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
2,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
3,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
4,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
5,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
6,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
7,Data Analyst,Bangalore/Bengaluru,Vola Finance,3-7 Yrs
8,Market Data Senior Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,2-5 Yrs
9,Senior Data Management Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Randstad India Private Limited,5-10 Yrs