In [ ]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
#location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
#This task will be done in following steps:
#1. First get the webpage https://www.ambitionbox.com/
#2. Click on the Job option as shown in the image
#3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
#“Data Scientist” and click on search button.
#4. You will reach to the following web page click on location and in place of “Search location” enter
#“Noida” and select location “Noida”.
#5. Then scrape the data for the first 10 jobs results you get on the above shown page.
#6. Finally create a dataframe of the scraped data.
#Note: All the steps required during scraping should be done through code only and not manually.

In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("https://www.ambitionbox.com/")

In [4]:
job=driver.find_element(By.CLASS_NAME,'navItemLink')
job.click()

In [5]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data scientist')

In [6]:
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location.click()

In [13]:
city=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
city.send_keys('Noida')

In [14]:
locations=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
locations.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [16]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [17]:
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//p[@class="body-small-l"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [18]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [19]:
#scraping experience_required from the given page
experience_tags=driver.find_elements(By.XPATH,'//p[@class="body-small-l"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [20]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
#creating dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Quality Engineer,2-7 years,Optum Global Solutions (India) Private Limited...,2-7 years
1,Data Scientist- SAS Analyst,Not Disclosed,Optum Global Solutions (India) Private Limited...,Not Disclosed
2,EY GDS - Data Scientist (10-20 yrs),Noida,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED...,Noida
3,Data Scientist,2-7 Yrs,EY GDS\n3.8\n(5.9k Reviews),2-7 Yrs
4,Hiring For Genpact-Data Scientist- Forecasting...,Not Disclosed,GLOBALLOGIC INDIA PRIVATE LIMITED\n4.0\n(2.1k ...,Not Disclosed
5,Genpact - Data Scientist - Forecasting/Python/...,Noida,GENPACT India Private Limited\n4.0\n(20.2k Rev...,Noida
6,Data Scientist,"Unix, oracle, data scientists +4 more",Genpact\n4.0\n(20.2k Reviews),"Unix, oracle, data scientists +4 more"
7,Data Scientist - Machine Learning Algorithms (...,2-7 Yrs,Ericsson India Global Services Pvt. Ltd.\n4.3\...,2-7 Yrs
8,Data Scientist,Not Disclosed,Dew Solutions Pvt. Ltd.\n4.3\n(83 Reviews),Not Disclosed
9,EY - Data Engineer - Data Integration/Modeling...,Noida,One97 Communications Limited\n3.8\n(4.2k Reviews),Noida