In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("http://www.flipkart.com/")

In [4]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sun Glasses')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [11]:
Glass_brand=[]
product_discription=[]
Glass_price=[]

In [12]:
#scraping Glass brand from the given page
start=0
end=5
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:20]:
        Glass_brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [15]:
#scraping product discription from the given page
start=0
end=5
for page in range(start,end):
    discription=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in discription[0:20]:
        product_discription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [13]:
#scraping Glass price from the given page
start=0
end=5
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price[0:20]:
        Glass_price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [16]:
print(len(Glass_brand),len(product_discription),len(Glass_price))

100 100 100

In [18]:
#creating dataframe
df=pd.DataFrame({'Glass_brand':Glass_brand,'product_discription':product_discription,'Glass_price':Glass_price})
df

,Glass_brand,product_discription,Glass_price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹699
1,ROYAL SON,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹999
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹255
3,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹237
4,PIRASO,UV Protection Aviator Sunglasses (54),₹449
...,...,...,...
95,PIRASO,UV Protection Rectangular Sunglasses (52),₹559
96,PIRASO,UV Protection Aviator Sunglasses (54),₹759
97,Poshh eyewear,"by Lenskart Polarized, UV Protection Cat-eye S...",₹699
98,Rich Club,UV Protection Retro Square Sunglasses (54),₹288
99,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹254

In [19]:
df.head()

,Glass_brand,product_discription,Glass_price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹699
1,ROYAL SON,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹999
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹255
3,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹237
4,PIRASO,UV Protection Aviator Sunglasses (54),₹449

In [20]:
df.tail()

,Glass_brand,product_discription,Glass_price
95,PIRASO,UV Protection Rectangular Sunglasses (52),₹559
96,PIRASO,UV Protection Aviator Sunglasses (54),₹759
97,Poshh eyewear,"by Lenskart Polarized, UV Protection Cat-eye S...",₹699
98,Rich Club,UV Protection Retro Square Sunglasses (54),₹288
99,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹254