In [ ]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
#location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.

In [12]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [25]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [26]:
driver.get("http://www.naukri.com/")

In [27]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [28]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [29]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [31]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience_required from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [33]:
#creating dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra,4-9 Yrs
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
4,Data Science Consultant,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram",ZS Associates India Pvt Ltd,3-8 Yrs
5,Data Scientist,Bangalore/Bengaluru,GlobalLogic,8-9 Yrs
6,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
7,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,3-7 Yrs
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs