In [ ]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
#search field.
#You have to scrape 4 attributes of each sneaker:
#1. Brand
#2. Product Description
#3. Price

In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("http://www.flipkart.com/")

In [4]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [6]:
shoes_brand=[]
product_discription=[]
shoes_price=[]

In [7]:
#scraping shoes brand from the given page
start=0
end=5
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand[0:20]:
        shoes_brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [8]:
#scraping product discription from the given page
start=0
end=5
for page in range(start,end):
    discription=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in discription[0:20]:
        product_discription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [9]:
#scraping Glass price from the given page
start=0
end=5
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price[0:20]:
        shoes_price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [10]:
print(len(shoes_brand),len(product_discription),len(shoes_price))

100 100 100

In [11]:
#creating dataframe
df=pd.DataFrame({'shoes_brand':shoes_brand,'product_discription':product_discription,'shoes_price':shoes_price})
df

   shoes_brand                                product_discription shoes_price
0        BIRDE                                   Sneakers For Men        ₹399
1    EZDEZARIO                                   Sneakers For Men      ₹2,029
2     HOTSTYLE           Exclusive Sneaker Shoes Sneakers For Men        ₹292
3       BRUTON  Mens Sneakers Shoes, Casual Shoes Sneakers For...        ₹179
4       Shozie                Men White Sneakers Sneakers For Men        ₹389
..         ...                                                ...         ...
95    KWIK FIT              Men Stylish Sneakers Sneakers For Men        ₹358
96      Layasa  Casual Sneakers White Outdoor Shoes For Boys A...        ₹199
97        PUMA  Men Stylish Sneakers Casual Shoes Sneakers For...      ₹1,949
98   Deals4you    X-Ray Game Wmn s Valentine s Sneakers For Women        ₹297
99      Layasa        Casuals, Canvas, Partywear Sneakers For Men        ₹399

[100 rows x 3 columns]