In [ ]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.
#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
#The above task will be, done as shown in the below steps:
#1. First get the webpage https://www.ambitionbox.com/
#2. Click on the salaries option as shown in the image.
#3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
#4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
#5. Store the data in a dataframe.

In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("https://www.ambitionbox.com/")

In [7]:
salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]')
salary.click()

In [20]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data scientist')

In [42]:
company_name=[]
total_salary=[] 
average_salary=[]
experience_required=[]

In [43]:
#scraping company info from the given page
name_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)

In [44]:
#Scraping total salary from the given page
salary_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in salary_tags[0:10]:
    salary=i.text
    total_salary.append(salary)

In [45]:
#scraping average salarys from the given page
salary_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in salary_tags[0:10]:
    salarys=i.text
    average_salary.append(salary)

In [46]:
#scraping experience required from the given page
required_tags=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in required_tags[0:10]:
    required=i.text
    experience_required.append(required)

In [47]:
print(len(company_name),len(total_salary),len(average_salary),len(experience_required))

10 10 10 10

In [48]:
#creating dataframe
df=pd.DataFrame({'company_name':company_name,'total_salary':total_salary,'average_salary':average_salary,'experience_required':experience_required})
df

,company_name,total_salary,average_salary,experience_required
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,₹ 25.0L,₹ 23.0L,3-4 yrs experience (based on 23 salaries)
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,₹ 45.0L,₹ 23.0L,2-4 yrs experience (based on 57 salaries)
2,Optum\nData Scientist Salary\n2-4 yrs experien...,₹ 15.0L,₹ 23.0L,2-4 yrs experience (based on 49 salaries)
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,₹ 26.0L,₹ 23.0L,1-2 yrs experience (based on 34 salaries)
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,₹ 11.0L,₹ 23.0L,2-4 yrs experience (based on 115 salaries)
5,Tiger Analytics\nData Scientist Salary\n2-4 yr...,₹ 22.6L,₹ 23.0L,2-4 yrs experience (based on 68 salaries)
6,Sigmoid Analytics\nData Scientist Salary\n1 yr...,₹ 11.0L,₹ 23.0L,1 yr experience (based on 10 salaries)
7,Legato Health Technologies\nData Scientist Sal...,₹ 22.0L,₹ 23.0L,4 yrs experience (based on 11 salaries)
8,HSBC\nData Scientist Salary\n4 yrs experience ...,₹ 9.0L,₹ 23.0L,4 yrs experience (based on 10 salaries)
9,Tredence\nData Scientist Salary\n3 yrs experie...,₹ 23.0L,₹ 23.0L,3 yrs experience (based on 14 salaries)