In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("http://www.myntra.com")

In [4]:
product=driver.find_element(By.CLASS_NAME,"desktop-searchBar")
product.send_keys('shoes')

In [5]:
search=driver.find_element(By.CLASS_NAME,"desktop-submit")
search.click()

In [6]:
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price.click()

In [7]:
color=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color.click()

In [8]:
shoes_brand=[]
product_discription=[]
shoes_price=[]

In [9]:
#scraping shoes brand from the given page
start=0
end=4
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand[0:25]:
        shoes_brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [10]:
len(shoes_brand)

100

In [11]:
#scraping product discription from the given page
start=0
end=4
for page in range(start,end):
    discription=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in discription[0:25]:
        product_discription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [12]:
len(product_discription)

100

In [13]:
#scraping shoes price from the given page
start=0
end=4
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price[0:25]:
        shoes_price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)

In [15]:
len(shoes_price)

100

In [16]:
print(len(shoes_brand),len(product_discription),len(shoes_price))

100 100 100

In [17]:
#creating dataframe
df=pd.DataFrame({'shoes_brand':shoes_brand,'product_discription':product_discription,'shoes_price':shoes_price})
df

,shoes_brand,product_discription,shoes_price
0,Nike,Men Golf Shoes,Rs. 7199Rs. 11999(40% OFF)
1,Puma,Kitten Pumps Heels,Rs. 10490
2,ADIDAS Originals,Women Suede Chelsea Boot,Rs. 8499
3,Nike,Women Leather Sneakers,Rs. 13999
4,Skechers,Women Leather Sneakers,Rs. 13775Rs. 14500(5% OFF)
...,...,...,...
95,Tommy Hilfiger,Men Leather Sneakers,Rs. 9749Rs. 14999(35% OFF)
96,Tommy Hilfiger,Men GEL-Nimbus 24 Running,Rs. 8920Rs. 10495(15% OFF)
97,ADIDAS,Men GEL-Kayano 28 Run Shoes,Rs. 7372Rs. 10099(27% OFF)
98,Tommy Hilfiger,Gary Black Unisex Casual Shoes,Rs. 9999
99,Puma,Women Party Stiletto Pumps,Rs. 9899Rs. 10999(10% OFF)