In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"F:\flip robo\chromedriver.exe")

In [3]:
driver.get("http://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
required_skill=[]
company_name=[]
experience_required=[]

In [8]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [9]:
#Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [10]:
#Scraping required skil from the given page
skill_tags=driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in skill_tags[0:10]:
    skill=i.text
    required_skill.append(skill)

In [11]:
#scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [12]:
    
#scraping experience_required from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 "]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [14]:
#creating dataframe
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'required_skill':required_skill,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,required_skill,company_name,experience_required
0,Data Science Specialist,2-4 Yrs,Must Have Knowledge of statistical techniques ...,Accenture,2-4 Yrs
1,Data Science Manager,Not disclosed,Must Have Advanced Analytical skills,Accenture,Not disclosed
2,"Mongodb Database Administrator, Maria DB or Ca...","Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Technical Skills: Expert database administrati...,Mphasis,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
3,PS Manager - Site Data Scientist,4-7 Yrs,Develop and plan required analytic projects in...,P&G,4-7 Yrs
4,Assistant Manager - Data Science,Not disclosed,"Work with OMICs, image, med device and RWE dat...",CitiusTech,Not disclosed
5,Senior Data Scientist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Candidate should hold Bachelor s Degree in Tec...,Boston Consulting Group,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
6,Senior Data Scientist,9-14 Yrs,Roles and Responsibilities Job Description / R...,Wipro,9-14 Yrs
7,Data Scientist,Not disclosed,Experience in data miningProven experience as ...,Tech Mahindra,Not disclosed
8,Lead ML Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",10 years experience in data science and MLAcad...,Fractal Analytics,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
9,Senior Data Scientist,5-10 Yrs,"As a Senior Data Scientist, you will be respon...",Baker Hughes,5-10 Yrs